* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: min(1335px, 100%);
    margin: 0 auto;
    padding: 0 15px;
}